# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Django files
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/

# MySQL or other database files
*.db

# Gunicorn
gunicorn.pid

# Nginx
nginx.logs/

# IDE/editor-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
