



<table id="ajax_userdetails" data-toggle="table" data-sortable="true" data-pagination="true" class="table table-striped table-bordered">
            
    <tbody>
        <tr>
            <td> <strong>Ref ID : </strong>{{itassetdetail_obj.id}}</td>
        </tr>
       
        <tr>
            <td> <strong>Employee ID : </strong>{{itassetdetail_obj.employee_id}}</td>
        </tr>
        <tr>
            <td><strong>FirstName: </strong>{{itassetdetail_obj.first_name}}</td> 
        </tr>
        <tr>
            <td><strong>Last Name : </strong>{{itassetdetail_obj.last_name}}</td> 
        </tr>
        <tr>
            <td><strong>Email ID : </strong>{{itassetdetail_obj.email}}</td>
        </tr>
       
     
    </tbody>
</table>