{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
{% include 'financesidemenu.html' %}

<div class="col-md-9">
  <form method="post" enctype="multipart/form-data">
    <div class="card">
      <div class="card-header text-center">
        <h5>Pending for approval</h5>
      </div>
      <div class="card-body">
            
            <table class="table"  border="1">
                <thead>
                <tr>
                    <th scope="col">Request No</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Submitted Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Approval Link</th>
                
                </tr>
                </thead>
                <tbody>
                    {% for item in pending_claims %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.employee.employee_id }}</td>
                        <td>{{ item.claimant }}</td>
                        <td>{{ item.total_amount }} SAR</td>
                        <td>{{ item.date }}</td>
                        
                        <td>{% if item.Approved_status == True %}
                            Approved
                            {% else %}
                            Pending
                            {% endif %}
                        </td>
                        <td><a href="{% url 'pettycash:ViewUserPettyCashDetail' item.id %}" class="">View Details</a></td>
                        
                    </tr>
        
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<!------>
<div class="dropdown-divider"></div>
<br>
<br>
<br>
<div class="card">
    <div class="card-header text-center">
      <h5>Approved Claims</h5>
    </div>
    <div class="card-body">
          
          <table class="table"  border="1">
              <thead>
              <tr>
                  <th scope="col">Request No</th>
                  <th scope="col">Employee ID</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Total Amount</th>
                  <th scope="col">Approved Date</th>
                  
              
              </tr>
              </thead>
              <tbody>
              {% for item in approved_claims %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.claimant }}</td> <!-- Access fields of your model -->
                                <td>{{ item.date }}</td>
                                <td>{{ item.total_amount }} SAR</td>
                                <td>{% if item.Approved_status == True %}
                                    Approved
                                    {% else %}
                                    Pending
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'pettycash:ViewUserPettyCashDetail' item.id %}" class="">View Details</a></td>
                                
                            </tr>
      
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
<!---->

</form>
</div>
</div>
{% endblock content%}