{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello,</p>
    <p>You're receiving this email because you requested a password reset for your account.</p>
    <p>Please click the following link to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    
    <!-- Include the company logo from the static folder -->

    <img src="{{ protocol }}://{{ domain }}{% static 'sats Saudi arabia.jpg' %}" alt="Company Logo" width="200">
   
    
    <p>If you didn't request a password reset, please ignore this email.</p>
    <!-- Include your HTML content as needed -->
</body>
</html>